.Glass-Title-Yellow {
  background: rgba(253, 216, 53, 0.7) !important;
  box-shadow: 0 4px 8px 0 rgba(73, 85, 5, 0.37) !important;
  color: #2a3443 !important;
  backdrop-filter: blur(1.5px) !important;
  -webkit-backdrop-filter: blur(1.5px) !important;
  border-radius: 0px !important;
}
