.Glass-Card {
  background: rgba(3, 155, 229, 0.3) !important;
  box-shadow: 0 4px 8px 0 rgba(27, 33, 112, 0.37) !important;
  backdrop-filter: blur(5.5px) !important;
  -webkit-backdrop-filter: blur(5.5px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.Glass-Card-Yellow {
  background: rgba(253, 216, 53, 0.3) !important;
  box-shadow: 0 4px 8px 0 rgba(73, 85, 5, 0.37) !important;
  backdrop-filter: blur(1.5px) !important;
  -webkit-backdrop-filter: blur(1.5px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
